@charset "utf-8";
.container {
	min-width: 320px;
	max-width: 640px;
	margin: 0 auto 0;
	font-size:12px;
}
input[type="search"]{-webkit-appearance:none;} 
input::-webkit-search-cancel-button {display: none;}

/** search-page **/
.search-page{z-index:1000;background:#fff;position:fixed;top:0;bottom:0;width:100%; max-width:640px; overflow-y:scroll;}
.search-header{border-bottom: 1px solid #ccc;padding:8px 11px;position:relative;}
.search-form{overflow:hidden;background:#fff;position:relative;padding-left:36px;box-sizing:border-box;border:1px solid #d8d8d8; margin-right:41px;-webkit-tap-highlight-color:rgba(0,0,0,0);}
.search-input{border:0;background:transparent;width:100%;color:#787878;font-size:13px; height:30px; line-height:30px; outline:none;}
.search-input::-webkit-input-placeholder{ color:#ccc;}
.search-cancel-btn{width:22px; height:22px;background:url(../../images/search/search_cancel.png) no-repeat center center;display:block; background-size:75%;position:absolute;right:4px;top:4px; display:none;}
.search-btn{-webkit-tap-highlight-color:rgba(0,0,0,0);background:url(../../images/search/search_icon_new.png) no-repeat 50% 50%;display:block;width:22px; height:22px;background-size:100% auto;position:absolute;left:7px;top:4px;}
.search-close-btn{color:#555;font-size:15px;position:absolute;right:0;top:8px; padding:9px 11px; line-height:1;}
.search-title{color:#ccc;font-weight:normal;padding:15px 12px 10px; font-size:14px;}
.line{height:8px;width:100%;background:#f6f6f6}
.search-word-list{padding:0 0 7px 12px; font-size:0;}
.search-word-list a{display:inline-block;padding:7px 17px; font-size:14px; border:1px solid #e5e5e5;background:#fff;margin:0 6px 12px 0;color:#888}
.search-clear-btn{display:block;background:#fff;border:1px solid #000;color:#000;font-size:14px;text-align:center;width:178px; margin:60px auto; padding:7px 0;}
.search-clear-btn.no-border{border:1px solid #fff;color:#888;}

/*搜索联想*/
.search-dynamicd-data{ position:absolute; top:49px; bottom:0; z-index:9; width:100%; overflow-x:hidden; overflow-y:auto; background:#fff; display:none;}
.search-dynamicd-data >a{ height:44px; line-height:44px; padding:0 12px; display:block; font-size:14px; color:#000; border-bottom:1px solid #e5e5e5; }
.search-dynamicd-data a span{ display:block; float:right; font-size:0;}
.search-dynamicd-data a span b{ font-size:11px; font-weight:normal; display:inline-block; height:24px; line-height:24px; margin-left:5px; background-color:#f6f6f6; color:#555; padding: 0 10px; vertical-align:middle; max-width: 90px; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}